<% include partial/header %>
<div class="w3-padding-large w3-white" id="main">

	
         <div class="full-width-container container00" style="padding: 0.5em;">
             <br/>
                        <h3 style="text-align:left;text-transform: uppercase;font-size: 2em">Abhinav Sharma</h3><br/>
                        <p style="text-transform:capitalize">Computer programmer,Web Developer And <br/>peer tutor</p><br/>
			                    <a href="https://github.com/Abhi4531" class="btn1">View Githun </a><br/><br/><br/>

        <p style="font-weight: 500;  line-height: 20px;">My name is Abhinav Sharma. Currently I am a student at Georgian college pursuing computer programming co-op program.For this Spring i am looking for an internship position,
	 I enjoy being challenged and working on projects that require me, to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques.
         While completing my studies I have worked as a Web Developer intern for Axiom Group Inc. and Nitidy clean and care in the past which has given me basic key employability skills while also allowing me to experience working in a professional and fast-paced work environment.
	    
        </p><br/>
        <p style="font-weight: 500;  line-height: 20px;">Key Courses: Web and Internet Fundamentals, Programming Fundamentals, System Analysis, Internet of Things, Web Programming, The Mainframe Environment, Relational Database, Project Management, Rapid Application Development, Advance Object-Oriented Programming, Enterprise Computing, Advance Database, Project management.</p>
                   
                <div class="full-width-container container00" id="skills">
                        <br/><br/><br/>
                        <h1 style="text-align:left;text-transform: uppercase;font-size: 2em"> SKILLS</h1>
            
            
                        <div class="skillbar">
            
                        <div class="progressbar">
                        <div class="title htmlColor">Html5</div>
                            <div class="progress html"></div>
                            <div class="progress_value">90%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title cssColor">CSS</div>
                            <div class="progress css"></div>
                            <div class="progress_value">80%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title jsColor">JavaScript</div>
                            <div class="progress js"></div>
                            <div class="progress_value">60%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title phpColor">PHP</div>
                            <div class="progress php"></div>
                            <div class="progress_value">70%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title ajaxColor">Ajax</div>
                            <div class="progress ajax"></div>
                            <div class="progress_value">45%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title htmlColor">Wordpress</div>
                            <div class="progress wordpress"></div>
                            <div class="progress_value">60%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title cssColor">Java</div>
                            <div class="progress java1"></div>
                            <div class="progress_value">80%</div>
                        </div>
            
            
            
            
                        <div class="progressbar">
                        <div class="title phpColor">C#</div>
                            <div class="progress csharp"></div>
                            <div class="progress_value">70%</div>
                        </div>
            
            
                        <div class="progressbar">
                        <div class="title ajaxColor">.NET</div>
                            <div class="progress net"></div>
                            <div class="progress_value">60%</div>
                        </div>
            
                        <div class="progressbar">
                        <div class="title jsColor">Photoshop</div>
                            <div class="progress photoshop"></div>
                            <div class="progress_value">80%</div>
                        </div>
            
            
            
                            </div>
            <br/>
            
                    </div>
            
            
            
                    <h1 style="text-align:left;text-transform: uppercase;font-size: 2em">Technical Skills</h1>
                            <hr>
            <ul>
              <li>Programming Languages: Object Oriented Java, .Net, PHP, C#, C++, MySQL.</li>
            
              <li>Web Technologies: HTML5, JavaScript, jQuery, CSS, Bootstrap, WordPress, FileZilla, Google AdWords, WordPress SEO, Shopify and Content Management.</li>
            
              <li>	Knowledge about Single-board microcontroller i.e. Arduino</li>
            
              <li>Designing: Photoshop, Video Editing.</li>
            
              <li>Web/App- Server: XAMPP, Wamp.</li>
            
              <li>Good knowledge of Microsoft office and OneDrive, Outlook and other office products.
            </li>
              <li>Extensive knowledge of Software Development Life Cycle and project management.
            </li>
            <li>Designing: Photoshop, Video Editing.
            </li>
            </ul>
            <br/>
            <h1 style="text-align:left;text-transform: uppercase;font-size: 2em">Additional Skills</h1>
            <hr/>
                            <ul>
              <li>Good oral, written & presentation skills.</li>
              <li>	A high tolerance of stress and enjoys responsibilities.</li>
              <li>	Quick learner with a great grasping ability.</li>
              <li>Action-oriented and result-focused.</li>
              <li>Lead & work as a team in an organized way.</li>
            
            </ul>
            
                        </div>
            
                    </div>

<% include partial/footer.ejs %>
