<% include partial/header %>
<div class="w3-padding-large w3-white" id="main">
<br/><br/>
        <h1 style="text-align:left;text-transform: uppercase;font-size: 2em">MY PROJECTS</h1>
<br/>
        <div class="grid-container">
          <div class="item1 selected" ><a class="webshow">Web</a></div>
            <div class="item2 "><a class="javashow">Java</a></div>
            <div class="item3"><a class="csharpshow">C#</a></div>
            <div class="item4"><a class="Ardunoshow">Arduino</a></div>
        
          <div class="item7">
        
          <div class="row">
          <div class="column">
              <div class="web">
            <img src="images/pano-rama.png" style="width:100%"><br/>
            <a href="http://www.pano-ramas.com/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>
            <img src="images/mackeylogger.png" style="width:100%">
            <a href="http://www.mackeylogger.com/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>

              </div>
        
              <div class="java">
        <img src="images/javalogin.JPG" style="width:100%">

              </div>
        
              <div class="Csharp">
              <img src="images/vechicleinventory.JPG" style="width:100%">
            </div>
        
              <div class="Arduino">
              <img src="images/mobbobface.jpg" style="width:100%">
            </div>
        
          </div>
        
          <div class="column">
                    <div class="web">
            <img src="images/oceanwater.png" style="width:100%">
            <a href="http://issues.azurewebsites.net/v1/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>
            <img src="images/keysnatch.png" style="width:100%">
            <a href="http://www.keysnatch.com/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>
          </div>
        
              <div class="java">
        
              </div>
        
              <div class="Csharp">
              <img src="images/carinventory1.JPG" style="width:100%">
            </div>
        
              <div class="Arduino">
              <img src="images/MobBob.jpg" style="width:100%">
            </div>
        
          </div>
        
          <div class="column">
                    <div class="web">
        
            
            <img src="images/spytechsoft.png" style="width:100%">
            <a href="http://www.spytechsoft.com/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>
          </div>
        
              <div class="java">
        
        
              </div>
        
              <div class="Csharp">
              <img src="images/vechicleinventory2.JPG" style="width:100%">
            </div>
        
              <div class="Arduino">
        
              </div>
        
          </div>
        
          <div class="column">
              <div class="web">
            <img src="images/safecart.png" style="width:100%">
            <a href="http://safecart.info/" class="w3-button w3-green" style="padding: 0.2em;margin-top: 5px">view site</a>
          </div>
              </div>
              <div class="java">
        
        
              </div>
        
              <div class="Csharp">
        
              </div>
        
              <div class="Arduino">
        
              </div>
        
        </div>
        
        
          </div>
        
        </div>

<% include partial/footer.ejs %>
