<% include partial/header %>

<div class="w3-padding-large w3-white" id="main">
    <br/><br/>
<div class="w3-container">
    <h2 class="w3-xxxlarge">Services</h2>
    
    <div class="w3-row">
    <div class="w3-col  w3-green w3-center w3-padding">
      <h3 class="w3-xxlarge">Web Design</h3>
    </div>
    </div> 
    <br/>
    <div class="w3-row">
    <div class="w3-col  w3-green w3-center  w3-padding">
      <h3 class="w3-xxlarge">Java Application Development</h3>
    </div>
    </div>
    <br/>
    <div class="w3-row">
    <div class="w3-col  w3-green w3-center  w3-padding">
      <h3 class="w3-xxlarge">Software Development</h3>
    </div>
    </div>
  
  
    
    
</div>
</div>
<% include partial/footer.ejs %>